.navbar {
  width: calc(100% - 620px); /* 420 = sidebar width (300) + main container padding (60 + 60) + online users width (200) */
  margin-bottom: 160px;
}

.navbar-100 {
  width: 100%; /* for navbar in login and signup pages */
  margin-bottom: 160px;
}

.navbar-content {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
  position: fixed;
  width: inherit;
}

.navbar ul,
.navbar-100 ul {
  display: flex;
  align-items: center;
  padding-right: 60px;
}

.navbar .logo,
.navbar-100 .logo {
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navbar .logo img,
.navbar-100 .logo img {
  margin-right: 10px;
  filter: invert(25%);
  width: 36px;
  vertical-align: sub;
}

.navbar a,
.navbar-100 a {
  color: var(--heading-color);
  text-decoration: none;
  margin-right: 20px;
}
